.newsCard2 {
    display: flex;
    flex-direction:column;
    flex:1;
    margin:5px;
    padding:5px;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}
h3{
    margin-block-start: 0;
    margin-block-end:0.5em;
}
.floatImageRight{
    width:50%;
    height:100%;
    float:right;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.newsCard2:hover{
    background-color: cornflowerblue;
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}
.textAndImageNC2{
    margin-bottom:8px;
}

