
.newsCard3 {
    display: flex;
    flex-direction:row;
    flex:1;
    margin:5px;
    padding:5px;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}
.newsCard3:hover{
    background-color: cornflowerblue;
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}
.newsCard3Image{
   width:50%;
    height:50%;
}
.newsCard3TextSection{

    padding:5px;
}
.comments{
    display: flex;
    flex-direction: row;
}

.comments{
    display: flex;
    flex-direction: row;
}
.alignTextLeft{
    text-align: start;
}