
.main-column {
    display: flex;
    flex-direction: column;
    width:1200px;

    margin:auto;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
}
.TabRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}
.tab {

    color: black;
    padding: 15px 23px;
    text-align: center;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;

    font-size: 30px;
}

.section1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid black;
}



.section3 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid black;
}

#section1col1 {
    /*display:flex;*/
    flex:2;
    padding: 5px;
    border-right: 1px solid black;
}
#section1col2 {
    /*display:flex;*/
    flex:1;
    flex-direction: column;
    padding: 5px;
    border-right: 1px solid black;
}
#section1col3 {
    /*display:flex;*/
    flex:1;
    flex-direction: column;
    padding: 5px;

}
.section2 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.section2Col {
    padding: 5px;
    flex:1;
}
/*.section2Col1 {*/
/*    display:flex;*/
/*    flex:1;*/
/*  */
/*    border-right: 10px solid black;*/
/*}*/
.popularNewsCard{
    display: flex;
    flex-direction: column;
    padding: 3px;

}


.popularNewsCardSection3{
    
    display: flex;
    flex:1;
    flex-direction: row;

}
.section3Col1{
    border-right: 1px solid black;
    padding: 5px;
}
.section3Col2{

    padding: 5px;
}
.section3Image{
    flex:1;
    padding: 5px;
}
.section3Text{
    flex:1;
    padding: 5px;
}
.footer{
    display: flex;
    margin-top:8px;
    flex-direction: column;

}
.footerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.comments{
    display: flex;
    flex-direction: row;
}
.alignTextLeft{
    text-align: start;
}

.image{
    width:100%;
    height:auto;
}
.underline-on-hover:hover {
    text-decoration: underline;
}
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    color: grey;
}

a:hover {
    color: lightgreen;
}

a:active {
    color: hotpink;
}
.newsCard2 {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-top: 1px solid black;

}

.floatImageRight{
    width:50%;
    height:auto;
    float:right;
}




.newsCard3 {
    display: flex;
    flex-direction:row;
    flex:1;

}

.newsCard3Image{
    width:100%;
    height:auto;
}

.comments{
    display: flex;
    flex-direction: row;
}


.alignTextLeft{
    text-align: start;
}
.titleRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;

}
.titleImage{
    width:30px;
    height:30px;
    vertical-align:middle;
}



