
.newsCard1{
    margin:5px;
    padding:5px;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0px 0px 0px grey;*/
    -webkit-transition:  box-shadow .6s ease-out;
    /*box-shadow: .8px .9px 3px grey;*/
}
h2{

    margin-block-start: 0;
}
.footer{
    display: flex;
    margin-top:8px;
    flex-direction: column;

}
.footerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.comments{
    display: flex;
    flex-direction: row;
}
.alignTextLeft{
    text-align: start;
}

/*.newsCard1:hover{*/
/*    background-color: cornflowerblue;*/
/*    box-shadow: 1px 8px 20px grey;*/
/*    -webkit-transition:  box-shadow .6s ease-in;*/
/*}*/
.image{
    width:100%;
    height:auto;
}
.underline-on-hover:hover {
    text-decoration: underline;
}
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    color: grey;
}

a:hover {
    color: lightgreen;
}

a:active {
    color: hotpink;
}